In [1]:
#Make sure psycogp2 is installed using anaconda

# Import SQLAlchemy `automap` and other dependencies
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
import matplotlib.pyplot as plt
import pandas as pd
from config import pw, username
import datetime

In [2]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\barbe\appdata\local\continuum\anaconda3\envs\pythondata\lib\site-packages (2.8.3)

In [3]:
username

'postgres'

### Store CSV into DataFrame

In [4]:

#---------------------------------------------
#Please enter the following information:
#---------------------------------------------
user=username
password=pw
db="Beer_DB"
#---------------------------------------------
#Validate the user enter the parameters
if user == "":
    raise ValueError("user is not defined")
if password == "":
    raise ValueError("password is not defined")
if db == "":
    raise ValueError("db is not defined")
host="localhost"

In [5]:
csv_reviews = "beer_reviews.csv"
#csv_styles = ""
reviews_df = pd.read_csv(csv_reviews)
#styles_df = pd.read_csv(csv_styles)
reviews_df.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

In [6]:
beer_reviews_df = pd.DataFrame()
beer_styles_df = pd.DataFrame()
user_table_df = pd.DataFrame()
beer_table_df = pd.DataFrame()
brewery_table_df = pd.DataFrame()

In [7]:
beer_reviews_df['review_id'] = [0,1]
beer_reviews_df['review_time'] = [datetime.datetime.now(), datetime.datetime.now()]
beer_reviews_df['user_profile_id'] = [0,1]
beer_reviews_df['review_overall'] = [0.5,1.6]
beer_reviews_df['review_aroma'] = [0.4,1.2]
beer_reviews_df['review_appearance'] = [0.2,1.7]
beer_reviews_df['review_palate'] = [0.2,1.4]
beer_reviews_df['review_taste'] = [0.9,1.7]
beer_reviews_df['beer_name'] = ["Pablo","Jake"]
beer_reviews_df['beer_id'] = [0,1]
beer_reviews_df.head()

,review_id,review_time,user_profile_id,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_name,beer_id
0,0,2019-08-08 21:01:02.148992,0,0.5,0.4,0.2,0.2,0.9,Pablo,0
1,1,2019-08-08 21:01:02.148992,1,1.6,1.2,1.7,1.4,1.7,Jake,1

In [8]:
time()

Wall time: 0 ns

()

In [9]:
beer_styles_df['name'] = ['Hello my name is Jackson', 'I like good beer']
beer_styles_df['beer_style'] = ["Let's go grab a beer", "What beer is best?"]
beer_styles_df['ibu_Min'] = [1.7,6.9]
beer_styles_df['ibu_Max'] = [1.7,6.9]
beer_styles_df['abv_Min'] = [1.7,6.9]
beer_styles_df['abv_Max'] = [1.7,6.9]
beer_styles_df['srm_Min'] = [1.7,6.9]
beer_styles_df['srm_Max'] = [1.7,6.9]
beer_styles_df['og_Min'] = [1.7,6.9]
beer_styles_df['fg_Min'] = [1.7,6.9]
beer_styles_df['fg_Max'] = [1.7,6.9]
beer_styles_df.head()

,name,beer_style,ibu_Min,ibu_Max,abv_Min,abv_Max,srm_Min,srm_Max,og_Min,fg_Min,fg_Max
0,Hello my name is Jackson,Let's go grab a beer,1.7,1.7,1.7,1.7,1.7,1.7,1.7,1.7,1.7
1,I like good beer,What beer is best?,6.9,6.9,6.9,6.9,6.9,6.9,6.9,6.9,6.9

In [10]:
user_table_df['profile_name'] = ['Hello my name is Jackson', 'I like good beer']
user_table_df['profile_id'] = [0,1]
user_table_df.head()

               profile_name  profile_id
0  Hello my name is Jackson           0
1          I like good beer           1

In [11]:
beer_table_df['beer_id'] = [0,1]
beer_table_df['beer_name'] = ["I like beer", "Do you like beer?"]
beer_table_df['brewery_id'] = [0,1]
beer_table_df['beer_abv'] = [2.654156, 2.165456]
beer_table_df['beer_style'] = ["Let's go grab a beer", "What beer is best?"]
beer_table_df.head()

   beer_id          beer_name  brewery_id  beer_abv            beer_style
0        0        I like beer           0  2.654156  Let's go grab a beer
1        1  Do you like beer?           1  2.165456    What beer is best?

In [12]:
brewery_table_df['brewery_id'] = [0, 1]
brewery_table_df['brewery_name'] = ['we make good beer', 'please buy our beer']
brewery_table_df.head()

   brewery_id         brewery_name
0           0    we make good beer
1           1  please buy our beer

### Create new data with select columns

### Connect to local database

In [13]:
rds_connection_string = f"postgres:{pw}@localhost:5432/Beer_DB"
engine = create_engine(f'postgresql://{rds_connection_string}')

### Check for tables

In [14]:
engine.table_names()

['User_Table',
 'Beer_Reviews',
 'Beer_Table',
 'Brewery_Table',
 'Beer_Styles',
 'beer_styles',
 'Beer_styles']

### Use pandas to load csv converted DataFrame into database

In [15]:
user_table_df.to_sql(name='User_Table', con=engine, if_exists='append', index=False)

In [16]:
brewery_table_df.to_sql(name='Brewery_Table', con=engine, if_exists='append', index=False)

In [17]:
beer_styles_df.to_sql(name='Beer_Styles', con=engine, if_exists='append', index=False)

In [18]:
beer_table_df.to_sql(name='Beer_Table', con=engine, if_exists='append', index=False)

In [19]:
beer_reviews_df.to_sql(name='Beer_Reviews', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the user_table
* NOTE: can also check using pgAdmin

In [20]:
pd.read_sql_query('select * from "User_Table"', con=engine).head()

               profile_name  profile_id
0  Hello my name is Jackson           0
1          I like good beer           1

### Confirm data has been added by querying the Beer_Styles table

In [21]:
pd.read_sql_query('select * from "Beer_Styles"', con=engine).head()

,name,beer_style,ibu_Min,ibu_Max,abv_Min,abv_Max,srm_Min,srm_Max,og_Min,fg_Min,fg_Max
0,Hello my name is Jackson,Let's go grab a beer,1.7,1.7,1.7,1.7,1.7,1.7,1.7,1.7,1.7
1,I like good beer,What beer is best?,6.9,6.9,6.9,6.9,6.9,6.9,6.9,6.9,6.9