In [18]:
#Make sure psycogp2 is installed using anaconda

# Import SQLAlchemy `automap` and other dependencies
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
import matplotlib.pyplot as plt
import pandas as pd
from config import pw, username
import time

### Store CSV into DataFrame

In [4]:

#---------------------------------------------
#Please enter the following information:
#---------------------------------------------
user=username
password=pw
db="Beer_DB"
#---------------------------------------------
#Validate the user enter the parameters
if user == "":
    raise ValueError("user is not defined")
if password == "":
    raise ValueError("password is not defined")
if db == "":
    raise ValueError("db is not defined")
host="localhost"

In [7]:
csv_reviews = "beer_reviews.csv"
#csv_styles = ""
reviews_df = pd.read_csv(csv_reviews)
#styles_df = pd.read_csv(csv_styles)
reviews_df.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

In [23]:
beer_reviews_df = pd.DataFrame()
beer_styles_df = pd.DataFrame()
user_table_df = pd.DataFrame()
beer_table_df = pd.DataFrame()
brewery_table_df = pd.DataFrame()

In [24]:
beer_reviews_df['review_id'] = [0,1]
beer_reviews_df['review_time'] = [round(time.time()),round(time.time())]
beer_reviews_df['user_profile_id'] = [0,1]
beer_reviews_df['review_overall'] = [0.5,1.6]
beer_reviews_df['review_aroma'] = [0.4,1.2]
beer_reviews_df['review_apperance'] = [0.2,1.7]
beer_reviews_df['review_palate'] = [0.2,1.4]
beer_reviews_df['review_taste'] = [0.9,1.7]
beer_reviews_df['review_name'] = ["Pablo","Jake"]
beer_reviews_df['beer_id'] = [0,1]
beer_reviews_df.head()

,review_id,review_time,user_profile_id,review_overall,review_aroma,review_apperance,review_palate,review_taste,review_name,beer_id
0,0,1565310353,0,0.5,0.4,0.2,0.2,0.9,Pablo,0
1,1,1565310353,1,1.6,1.2,1.7,1.4,1.7,Jake,1

In [26]:
beer_styles_df['name'] = ['Hello my name is Jackson', 'I like good beer']
beer_styles_df['beer_style'] = ['This is a very good beer style', 'I think']
beer_styles_df['ibu_min'] = [1.7,6.9]
beer_styles_df['ibu_max'] = [1.7,6.9]
beer_styles_df['abv_min'] = [1.7,6.9]
beer_styles_df['abv_max'] = [1.7,6.9]
beer_styles_df['srm_min'] = [1.7,6.9]
beer_styles_df['srm_max'] = [1.7,6.9]
beer_styles_df['og_min'] = [1.7,6.9]
beer_styles_df['fg_min'] = [1.7,6.9]
beer_styles_df['fg_max'] = [1.7,6.9]
beer_styles_df.head()

,name,beer_style,ibu_min,ibu_max,abv_min,abv_max,srm_min,srm_max,og_min,fg_min,fg_max
0,Hello my name is Jackson,This is a very good beer style,1.7,1.7,1.7,1.7,1.7,1.7,1.7,1.7,1.7
1,I like good beer,I think,6.9,6.9,6.9,6.9,6.9,6.9,6.9,6.9,6.9

In [27]:
user_table_df['profile_name'] = ['Hello my name is Jackson', 'I like good beer']
user_table_df['profile_id'] = [1, 2]
user_table_df.head()

               profile_name  profile_id
0  Hello my name is Jackson           1
1          I like good beer           2

In [28]:
beer_table_df['beer_id'] = [1,2]
beer_table_df['beer_name'] = ["I like beer", "Do you like beer?"]
beer_table_df['brewery_id'] = [3,4]
beer_table_df['beer_abv'] = [2.654156, 2.165456]
beer_table_df['beer_style'] = ["Let's go grab a beer", "What beer is best?"]
beer_table_df.head()

   beer_id          beer_name  brewery_id  beer_abv            beer_style
0        1        I like beer           3  2.654156  Let's go grab a beer
1        2  Do you like beer?           4  2.165456    What beer is best?

In [29]:
brewery_table_df['brewery_id'] = [3, 4]
brewery_table_df['brewery_name'] = ['we make good beer', 'please buy our beer']
brewery_table_df.head()

   brewery_id         brewery_name
0           3    we make good beer
1           4  please buy our beer

### Create new data with select columns

### Connect to local database

In [10]:
rds_connection_string = f'{username}:{pw}@localhost:5432/Beer_DB"
engine = create_engine(f'postgresql://{rds_connection_string}')

ModuleNotFoundError: No module named 'psycopg2'

### Check for tables

In [ ]:
engine.table_names()

### Use pandas to load csv converted DataFrame into database

In [8]:
new_customer_data_df.to_sql(name='customer_name', con=engine, if_exists='append', index=False)

### Use pandas to load json converted DataFrame into database

In [9]:
new_customer_location_df.to_sql(name='customer_location', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the customer_name table
* NOTE: can also check using pgAdmin

In [10]:
pd.read_sql_query('select * from customer_name', con=engine).head()

   id first_name last_name
0   1    Benetta   Cancott
1   2     Lilyan    Cherry
2   3    Ezekiel   Benasik
3   4    Kennedy     Atlay
4   5    Sanford    Salmen

### Confirm data has been added by querying the customer_location table

In [11]:
pd.read_sql_query('select * from customer_location', con=engine).head()

   id                address  us_state
0   1  043 Mockingbird Place   Indiana
1   2       4 Prentice Point   Indiana
2   3      46 Derek Junction     Texas
3   4  11966 Old Shore Place  Missouri
4   5     5 Evergreen Circle  New York