In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

In [2]:
df = pd.read_csv('less_big.csv')

In [3]:
df.head()

,Unnamed: 0,beer_style_id,beer_new_name,beer_style,ibu_Min,ibu_Max,abv_Min,abv_Max,srm_Min,srm_Max,...,review_time,review_overall,review_aroma,review_appearance,review_profilename,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,0,0,Classic English-Style Pale Ale,English Pale,20,40,4.5,5.5,5,5,...,1294324816,5.0,4.5,4.5,JamesS,5.0,4.0,Lawn Mower Pale Ale,5.0,61478
1,1,0,Classic English-Style Pale Ale,English Pale,20,40,4.5,5.5,5,5,...,1283115229,4.5,4.0,4.0,brundo4,4.0,3.5,Lawn Mower Pale Ale,5.0,61478
2,4,0,Classic English-Style Pale Ale,English Pale,20,40,4.5,5.5,5,5,...,1130157499,4.5,3.5,4.0,oberon,3.5,4.0,Moon Dance Pale Ale,4.2,26562
3,5,0,Classic English-Style Pale Ale,English Pale,20,40,4.5,5.5,5,5,...,1314903858,3.5,3.5,3.5,smcolw,4.0,4.0,Skyelight,3.8,71157
4,6,0,Classic English-Style Pale Ale,English Pale,20,40,4.5,5.5,5,5,...,1311007143,3.5,3.0,3.0,AgentMunky,4.0,4.0,Skyelight,3.8,71157

In [4]:
df['review_time'] = pd.to_datetime(df['review_time'],unit='s')
# df['date'] = pd.to_datetime(df['date'],unit='s')

In [5]:
df = df.drop(columns = ['Unnamed: 0'])

In [6]:
df = df.drop(columns = ['beer_style_id', 'ibu_Min', 'abv_Min', 'abv_Max', 'srm_Min', 'og_Min'])

In [7]:
df = df.drop(columns = ['fg_Min', 'brewery_id'])

In [8]:
df.head()

,beer_new_name,beer_style,ibu_Max,srm_Max,fg_Max,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,Classic English-Style Pale Ale,English Pale,40,5,1.016,Broad Ripple Brew Pub,2011-01-06 14:40:16,5.0,4.5,4.5,JamesS,5.0,4.0,Lawn Mower Pale Ale,5.0,61478
1,Classic English-Style Pale Ale,English Pale,40,5,1.016,Broad Ripple Brew Pub,2010-08-29 20:53:49,4.5,4.0,4.0,brundo4,4.0,3.5,Lawn Mower Pale Ale,5.0,61478
2,Classic English-Style Pale Ale,English Pale,40,5,1.016,Moon River Brewing Company,2005-10-24 12:38:19,4.5,3.5,4.0,oberon,3.5,4.0,Moon Dance Pale Ale,4.2,26562
3,Classic English-Style Pale Ale,English Pale,40,5,1.016,Isle Of Skye Brewery,2011-09-01 19:04:18,3.5,3.5,3.5,smcolw,4.0,4.0,Skyelight,3.8,71157
4,Classic English-Style Pale Ale,English Pale,40,5,1.016,Isle Of Skye Brewery,2011-07-18 16:39:03,3.5,3.0,3.0,AgentMunky,4.0,4.0,Skyelight,3.8,71157

In [9]:
df = df.groupby('review_profilename').filter(lambda x : len(x)>3)
Out[1743]:

(709198, 16)

In [10]:
df.shape

(709198, 16)