In [5]:
# Make sure psycogp2 is installed using anaconda
# !pip install psycopg2

In [1]:
#Imports
import sqlalchemy
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
import matplotlib.pyplot as plt
import pandas as pd
from config import pw, username
import datetime
from datetime import datetime
import numpy 
import os

### Read the data from csv files

In [2]:
#---------------------------------------------
#Updated from config:
#---------------------------------------------
user=username
password=pw
#---------------------------------------------
#Make sure this is the name or your database in postgres
db="Beer_DB"
#Set the domin to localhoost
host="localhost"

In [3]:
#Get the path reference to read teh data

try:
    __thisdir__ = os.path.dirname(os.path.abspath(__file__))
except NameError as error:
    __thisdir__ = "."
    
#create the direcotry to store the data if not existed
review_data = os.path.join(__thisdir__, "beer_reviews.csv")
styles_data = os.path.join(__thisdir__,"JSON","data","beer_styles.csv")

In [4]:
#Reading the data
review_df = pd.read_csv(review_data)
style_df = pd.read_csv(styles_data)

In [5]:
#Check the data from the reviews
review_df.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

In [6]:
#Check the data from the reviews
style_df.head()

,id,name,beer_style,ibu_Min,ibu_Max,abv_Min,abv_Max,srm_Min,srm_Max,og_Min,fg_Min,fg_Max
0,0,Classic English-Style Pale Ale,English Pale,20,40,4.5,5.5,5,5,1.040,1.008,1.016
1,1,English-Style India Pale Ale,English IPA,35,63,5.0,7.0,6,14,1.050,1.012,1.018
2,2,Ordinary Bitter,Bitter,20,35,3.0,4.1,5,12,1.033,1.006,1.012
3,3,Special Bitter or Best Bitter,Special Bitter,28,40,4.1,4.8,6,14,1.038,1.006,1.012
4,4,Extra Special Bitter,ESB,30,45,4.8,5.8,8,14,1.046,1.010,1.016

### Normalize the data

In [7]:
#Normilize the data
review_style_done=list()

#Key for new entries
new_key = style_list = list()

#We need to iterate all beer styles find all matches in teh review and normilize the data
for style in style_df["beer_style"]:
        style_list.append(style)
        #Find all dat athat matches the style defined
        matches_df = pd.DataFrame(review_df["beer_style"]\
                                 [review_df.beer_style.str.contains(style, regex= True, na=False)])
        #Remove the duplicates
        matches_df.drop_duplicates(inplace=True)
        #Iterate all matches and replace the data
        for match in matches_df["beer_style"]:
            #Replace the data if not updated yet and mask it as updated
            if match not in review_style_done:
                print(f"{match} : {style}")
                if match != style:
                    review_df.replace({'beer_style':{match:style}},inplace=True)
                review_style_done.append(match)

English Pale Ale : English Pale
English Pale Mild Ale : English Pale
English Bitter : Bitter
Extra Special / Strong Bitter (ESB) : Bitter
English Dark Mild Ale : English Dark Mild
English Brown Ale : English Brown
Old Ale : Old Ale
English Strong Ale : Strong Ale
American Strong Ale : Strong Ale
Scotch Ale / Wee Heavy : Scotch Ale
Milk / Sweet Stout : Sweet Stout
Oatmeal Stout : Oatmeal Stout
Irish Red Ale : Irish Red
Foreign / Export Stout : Export Stout
American Pale Lager : American Pale
American Pale Ale (APA) : American Pale
American Pale Wheat Ale : American Pale
American IPA : American IPA
American Double / Imperial IPA : Imperial IPA
American Amber / Red Ale : Amber
American Amber / Red Lager : Amber
American Barleywine : American Barleywine
Wheatwine : Wheatwine
American Blonde Ale : Blonde
American Brown Ale : American Brown
American Black Ale : Black Ale
American Stout : American Stout
Export Stout : Stout
Russian Imperial Stout : Stout
American Double / Imperial Stout : Stout
Irish Dry Stout : Stout
Sweet Stout : Stout
English Stout : Stout
Kölsch : Kölsch
Hefeweizen : Hefeweizen
Dunkelweizen : Dunkelweizen
Weizenbock : Weizenbock
Rauchbier : Rauchbier
Altbier : Altbier
Flanders Red Ale : Flanders Red
Belgian Pale Ale : Belgian Pale
Witbier : Witbier
Lambic - Fruit : Lambic
Lambic - Unblended : Lambic
Gueuze : Gueuze
Bière de Garde : Bière de Garde
Saison / Farmhouse Ale : Saison
German Pilsener : German Pilsener
Maibock / Helles Bock : Helles
Munich Helles Lager : Helles
Dortmunder / Export Lager : Dortmunder
Vienna Lager : Vienna Lager
Märzen / Oktoberfest : Märzen
Euro Dark Lager : Euro Dark
Schwarzbier : Schwarzbier
Bock : Bock
Doppelbock : Doppelbock
American Malt Liquor : Malt Liquor
Baltic Porter : Baltic Porter
Cream Ale : Cream Ale
California Common / Steam Beer : California Common
American Dark Wheat Ale : Wheat Ale
Wheat Ale : Wheat Ale

### Build the tables

In [14]:
#--------------------------------------#
#            Beer Styles Table         #
#--------------------------------------#
import numpy as np
#Next key for styles
key_id = len(style_df)
#To creat enew entries
#createing list for each column,
#this is faster than append rows to teh data frame
id = list()
name = list()
short_name = list()
ibuMin = list()
ibuMax = list()
abvMin = list()
abvMax = list()
srmMin = list()
srmMax = list()
ogMin = list()
fgMin = list()
fgMax = list()
#After data normalization get all the styles witouth record and create a new entry
normal_styles_df = pd.DataFrame(review_df["beer_style"])
#Remove the duplicates
normal_styles_df.drop_duplicates(inplace=True)
normal_styles_df
#Get all data syles not defined yet
for style in normal_styles_df["beer_style"]:
   if style not in style_list:
       #not_defined.append(style)
       name.append(style)
       short_name.append(style)
       id.append(key_id)
       #Since this styles are not defined set them to na
       ibuMin.append(np.NaN)
       ibuMax.append(np.NaN)
       abvMin.append(np.NaN)
       abvMax.append(np.NaN)
       srmMin.append(np.NaN)
       srmMax.append(np.NaN)
       ogMin.append(np.NaN)
       fgMin.append(np.NaN)
       fgMax.append(np.NaN)
       key_id+=1
#Build the new data frame
ndef_df = pd.DataFrame({"id":id,
                       "name":name,
                       "beer_style":short_name,
                       "ibu_Min":ibuMin,
                       "ibu_Max":ibuMax,
                       "abv_Min":abvMin,
                       "abv_Max":abvMax,
                       "srm_Min":srmMin,
                       "srm_Max":srmMax,
                       "og_Min":ogMin,
                       "fg_Min":fgMin,
                       "fg_Max":fgMax})
#Join the data
beer_styles_df = pd.concat([style_df, ndef_df])
beer_styles_df.rename(columns={"id":"beer_style_id"},inplace=True)
beer_styles_df.rename(columns={"name":"beer_new_name"},inplace=True)
beer_styles_df.head()

,beer_style_id,beer_new_name,beer_style,ibu_Min,ibu_Max,abv_Min,abv_Max,srm_Min,srm_Max,og_Min,fg_Min,fg_Max
0,0,Classic English-Style Pale Ale,English Pale,20.0,40.0,4.5,5.5,5.0,5.0,1.040,1.008,1.016
1,1,English-Style India Pale Ale,English IPA,35.0,63.0,5.0,7.0,6.0,14.0,1.050,1.012,1.018
2,2,Ordinary Bitter,Bitter,20.0,35.0,3.0,4.1,5.0,12.0,1.033,1.006,1.012
3,3,Special Bitter or Best Bitter,Special Bitter,28.0,40.0,4.1,4.8,6.0,14.0,1.038,1.006,1.012
4,4,Extra Special Bitter,ESB,30.0,45.0,4.8,5.8,8.0,14.0,1.046,1.010,1.016

In [13]:
pd.merge(beer_styles_df,review_df,how="outer")

,beer_style_id,beer_new_name,beer_style,ibu_Min,ibu_Max,abv_Min,abv_Max,srm_Min,srm_Max,og_Min,...,review_time,review_overall,review_aroma,review_appearance,review_profilename,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,0,Classic English-Style Pale Ale,English Pale,20.0,40.0,4.5,5.5,5.0,5.0,1.04,...,1294324816,5.0,4.5,4.5,JamesS,5.0,4.0,Lawn Mower Pale Ale,5.0,61478
1,0,Classic English-Style Pale Ale,English Pale,20.0,40.0,4.5,5.5,5.0,5.0,1.04,...,1283115229,4.5,4.0,4.0,brundo4,4.0,3.5,Lawn Mower Pale Ale,5.0,61478
2,0,Classic English-Style Pale Ale,English Pale,20.0,40.0,4.5,5.5,5.0,5.0,1.04,...,1156178493,4.5,4.0,4.0,Generik420,4.5,4.5,15th Anniversary,NaN,27918
3,0,Classic English-Style Pale Ale,English Pale,20.0,40.0,4.5,5.5,5.0,5.0,1.04,...,1137722353,3.5,3.0,3.5,blitheringidiot,3.5,3.5,15th Anniversary,NaN,27918
4,0,Classic English-Style Pale Ale,English Pale,20.0,40.0,4.5,5.5,5.0,5.0,1.04,...,1130157499,4.5,3.5,4.0,oberon,3.5,4.0,Moon Dance Pale Ale,4.2,26562
5,0,Classic English-Style Pale Ale,English Pale,20.0,40.0,4.5,5.5,5.0,5.0,1.04,...,1314903858,3.5,3.5,3.5,smcolw,4.0,4.0,Skyelight,3.8,71157
6,0,Classic English-Style Pale Ale,English Pale,20.0,40.0,4.5,5.5,5.0,5.0,1.04,...,1311007143,3.5,3.0,3.0,AgentMunky,4.0,4.0,Skyelight,3.8,71157
7,0,Classic English-Style Pale Ale,English Pale,20.0,40.0,4.5,5.5,5.0,5.0,1.04,...,1314821770,2.0,2.0,3.5,smcolw,3.5,1.5,Red Cuillin,4.2,11456
8,0,Classic English-Style Pale Ale,English Pale,20.0,40.0,4.5,5.5,5.0,5.0,1.04,...,1283199504,3.5,3.5,4.0,champ103,3.5,3.0,Red Cuillin,4.2,11456
9,0,Classic English-Style Pale Ale,English Pale,20.0,40.0,4.5,5.5,5.0,5.0,1.04,...,1276450265,4.0,4.5,4.0,dqrull,4.5,4.0,Red Cuillin,4.2,11456
10,0,Classic English-Style Pale Ale,English Pale,20.0,40.0,4.5,5.5,5.0,5.0,1.04,...,1258378135,3.0,3.0,3.5,mrmanning,3.0,3.5,Red Cuillin,4.2,11456
11,0,Classic English-Style Pale Ale,English Pale,20.0,40.0,4.5,5.5,5.0,5.0,1.04,...,1238360719,4.0,4.0,3.5,mduncan,3.5,4.0,Red Cuillin,4.2,11456
12,0,Classic English-Style Pale Ale,English Pale,20.0,40.0,4.5,5.5,5.0,5.0,1.04,...,1231704036,2.0,2.0,2.0,seanyfo,2.0,2.0,Red Cuillin,4.2,11456
13,0,Classic English-Style Pale Ale,English Pale,20.0,40.0,4.5,5.5,5.0,5.0,1.04,...,1212539529,4.0,3.5,3.5,northyorksammy,4.0,3.0,Red Cuillin,4.2,11456
14,0,Classic English-Style Pale Ale,English Pale,20.0,40.0,4.5,5.5,5.0,5.0,1.04,...,1210570343,3.5,3.5,3.5,cyrenaica,3.5,3.5,Red Cuillin,4.2,11456
15,0,Classic English-Style Pale Ale,English Pale,20.0,40.0,4.5,5.5,5.0,5.0,1.04,...,1184682285,3.5,3.5,4.0,mdagnew,3.5,3.5,Red Cuillin,4.2,11456
16,0,Classic English-Style Pale Ale,English Pale,20.0,40.0,4.5,5.5,5.0,5.0,1.04,...,1183296784,4.0,3.5,3.5,crwills,4.0,3.5,Red Cuillin,4.2,11456
17,0,Classic English-Style Pale Ale,English Pale,20.0,40.0,4.5,5.5,5.0,5.0,1.04,...,1175501944,4.5,3.0,3.0,kmacphail,5.0,4.5,Red Cuillin,4.2,11456
18,0,Classic English-Style Pale Ale,English Pale,20.0,40.0,4.5,5.5,5.0,5.0,1.04,...,1116279966,4.5,4.0,4.0,richdebs,4.0,4.5,Red Cuillin,4.2,11456
19,0,Classic English-Style Pale Ale,English Pale,20.0,40.0,4.5,5.5,5.0,5.0,1.04,...,1107274391,4.0,3.0,4.0,bark,4.0,3.5,Red Cuillin,4.2,11456
20,0,Classic English-Style Pale Ale,English Pale,20.0,40.0,4.5,5.5,5.0,5.0,1.04,...,1058205321,4.0,4.0,4.0,StevieW,4.0,4.5,Red Cuillin,4.2,11456
21,0,Classic English-Style Pale Ale,English Pale,20.0,40.0,4.5,5.5,5.0,5.0,1.04,...,1324303250,4.0,4.0,4.0,StJamesGate,4.0,4.0,Brew Eyed Blond,4.5,71686
22,0,Classic English-Style Pale Ale,English Pale,20.0,40.0,4.5,5.5,5.0,5.0,1.04,...,1312455048,4.0,4.0,3.5,JohnfromDublin,3.5,4.0,Brew Eyed Blond,4.5,71686
23,0,Classic English-Style Pale Ale,English Pale,20.0,40.0,4.5,5.5,5.0,5.0,1.04,...,1323045579,3.5,3.5,3.5,Tone,4.5,3.5,Unas Mas! (Simcoe Hops),5.0,74651
24,0,Classic English-Style Pale Ale,English Pale,20.0,40.0,4.5,5.5,5.0,5.0,1.04,...,1319905973,4.5,4.0,4.5,DCon,4.0,4.0,Unas Mas! (Simcoe Hops),5.0,74651
25,0,Classic English-Style Pale Ale,English Pale,20.0,40.0,4.5,5.5,5.0,5.0,1.04,...,1310527296,3.5,3.0,4.0,flagmantho,4.0,4.0,British Pale Ale,5.4,53677
26,0,Classic English-Style Pale Ale,English Pale,20.0,40.0,4.5,5.5,5.0,5.0,1.04,...,1282953603,3.5,3.5,4.0,cjbeatty130,3.0,3.0,British Pale Ale,5.4,53677
27,0,Classic English-Style Pale Ale,English Pale,20.0,40.0,4.5,5.5,5.0,5.0,1.04,...,1281320204,4.0,3.5,4.0,msubulldog25,3.5,4.0,British Pale Ale,5.4,53677
28,0,Classic English-Style Pale Ale,English Pale,20.0,40.0,4.5,5.5,5.0,5.0,1.04,...,1280983990,4.5,4.0,4.0,grittybrews,4.0,4.0,British Pale Ale,5.4,53677
29,0,Classic English-Style Pale Ale,English Pale,20.0,40.0,4.5,5.5,5.0,5.0,1.04,...,1276405636,3.5,3.0,3.0,Bfarr,4.0,3.5,British Pale Ale,5.4,53677
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1049792,164,Bière de Champagne / Bière Brut,Bière de Champagne / Bière Brut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1137642424,4.0,4.0,4.0,Jredner,4.0,4.0,Malheur Brut Noir (Black Chocolate),12.0,16487
1049793,164,Bière de Champagne / Bière Brut,Bière de Champagne / Bière Brut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1134919835,3.0,4.0,4.0,bark,3.5,3.5,Malheur Brut Noir (Black Chocolate),12.0,16487
1049794,164,Bière de Champagne / Bière Brut,Bière de Champagne / Bière Brut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1132681517,3.5,4.5,4.5,RBorsato,4.0,4.0,Malheur Brut Noir (Black Chocolate),12.0,16487
1049795,164,Bière de Champagne / Bière Brut,Bière de Champagne / Bière Brut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1127160451,3.5,4.5,4.0,paterlodie,4.0,4.0,Malheur Brut Noir (Black Chocolate),12.0,16487
1049796,164,Bière de Champagne / Bière Brut,Bière de Champagne / Bière Brut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1114725488,4.5,4.5,4.5,stcules,4.5,5.0,Malheur Brut Noir (Black Chocolate),12.0,16487
1049797,164,Bière de Champagne / Bière Brut,Bière de Champagne / Bière Brut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1103215333,4.0,4.0,4.5,northyorksammy,4.0,4.0,Malheur Brut Noir (Black Chocolate),12.0,16487
1049798,164,Bière de Champagne / Bière Brut,Bière de Champagne / Bière Brut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1101772800,4.0,4.5,4.0,taez555,4.0,4.5,Malheur Brut Noir (Black Chocolate),12.0,16487
1049799,164,Bière de Champagne / Bière Brut,Bière de Champagne / Bière Brut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1099963642,4.0,4.5,5.0,Rastacouere,5.0,4.5,Malheur Brut Noir (Black Chocolate),12.0,16487
1049800,164,Bière de Champagne / Bière Brut,Bière de Champagne / Bière Brut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1099588160,5.0,4.5,5.0,marburg,4.5,4.5,Malheur Brut Noir (Black Chocolate),12.0,16487
1049801,164,Bière de Champagne / Bière Brut,Bière de Champagne / Bière Brut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1090657197,4.0,4.5,4.5,drewbage,4.0,4.0,Malheur Brut Noir (Black Chocolate),12.0,16487
1049802,164,Bière de Champagne / Bière Brut,Bière de Champagne / Bière Brut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1089698470,4.0,3.5,4.0,aracauna,3.5,3.5,Malheur Brut Noir (Black Chocolate),12.0,16487
1049803,164,Bière de Champagne / Bière Brut,Bière de Champagne / Bière Brut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1262400536,4.5,4.5,4.5,drumrboy22,4.0,4.0,Malheur Brut Reserve - Michael Jackson Commemo...,11.0,34570
1049804,164,Bière de Champagne / Bière Brut,Bière de Champagne / Bière Brut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1230863528,5.0,4.5,5.0,Beerenauslese,5.0,5.0,Malheur Brut Reserve - Michael Jackson Commemo...,11.0,34570
1049805,164,Bière de Champagne / Bière Brut,Bière de Champagne / Bière Brut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1230853352,4.0,4.0,4.5,popery,4.5,5.0,Malheur Brut Reserve - Michael Jackson Commemo...,11.0,34570
1049806,164,Bière de Champagne / Bière Brut,Bière de Champagne / Bière Brut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1188600448,4.0,4.0,4.5,mikesgroove,4.5,5.0,Malheur Brut Reserve - Michael Jackson Commemo...,11.0,34570
1049807,164,Bière de Champagne / Bière Brut,Bière de Champagne / Bière Brut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1186174833,5.0,4.5,5.0,DaPeculierDane,5.0,4.5,Malheur Brut Reserve - Michael Jackson Commemo...,11.0,34570
1049808,164,Bière de Champagne / Bière Brut,Bière de Champagne / Bière Brut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1185760185,5.0,4.5,4.5,Damian,4.0,4.5,Malheur Brut Reserve - Michael Jackson Commemo...,11.0,34570
1049809,164,Bière de Champagne / Bière Brut,Bière de Champagne / Bière Brut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1185162169,3.5,4.0,4.5,SkeeterHawk,4.5,4.0,Malheur Brut Reserve - Michael Jackson Commemo...,11.0,34570
1049810,164,Bière de Champagne / Bière Brut,Bière de Champagne / Bière Brut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1168130814,4.5,4.0,3.5,rdickey,4.5,4.0,Malheur Brut Reserve - Michael Jackson Commemo...,11.0,34570
1049811,164,Bière de Champagne / Bière Brut,Bière de Champagne / Bière Brut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1325431567,4.0,4.0,4.5,metter98,4.0,4.0,Malheur Cuvee Royale,9.0,25215
1049812,164,Bière de Champagne / Bière Brut,Bière de Champagne / Bière Brut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1255983340,5.0,4.0,5.0,stcules,4.0,4.0,Malheur Cuvee Royale,9.0,25215
1049813,164,Bière de Champagne / Bière Brut,Bière de Champagne / Bière Brut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1244385964,4.0,3.0,4.5,Suds,4.0,4.0,Malheur Cuvee Royale,9.0,25215
1049814,164,Bière de Champagne / Bière Brut,Bière de Champagne / Bière Brut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1220711259,3.0,3.0,4.0,Crosling,3.5,3.0,Malheur Cuvee Royale,9.0,25215
1049815,164,Bière de Champagne / Bière Brut,Bière de Champagne / Bière Brut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1201235775,3.5,4.0,3.5,Viggo,4.0,4.0,Malheur Cuvee Royale,9.0,25215
1049816,164,Bière de Champagne / Bière Brut,Bière de Champagne / Bière Brut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1200708967,4.0,4.0,4.0,DrJay,3.5,3.5,Malheur Cuvee Royale,9.0,25215
1049817,164,Bière de Champagne / Bière Brut,Bière de Champagne / Bière Brut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1198960951,5.0,4.5,5.0,janubio,5.0,4.5,Malheur Cuvee Royale,9.0,25215
1049818,164,Bière de Champagne / Bière Brut,Bière de Champagne / Bière Brut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1194893696,4.0,3.5,4.5,grub,3.5,3.5,Malheur Cuvee Royale,9.0,25215
1049819,164,Bière de Champagne / Bière Brut,Bière de Champagne / Bière Brut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1187396242,4.5,5.0,4.5,ALESwhatCURESya,4.5,4.5,Malheur Cuvee Royale,9.0,25215
1049820,164,Bière de Champagne / Bière Brut,Bière de Champagne / Bière Brut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1185644785,4.5,4.0,5.0,atigerlife,4.5,4.0,Malheur Cuvee Royale,9.0,25215
1049821,164,Bière de Champagne / Bière Brut,Bière de Champagne / Bière Brut,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1123710125,4.5,4.5,4.5,paterlodie,4.5,4.0,Malheur Cuvee Royale,9.0,25215

In [14]:
#--------------------------------------#
#   Get a dataframe for all user ID's  #
#--------------------------------------#
#Retrieve the users form the main DF
user_table_df = pd.DataFrame(review_df["review_profilename"])
#Remove duplicates
user_table_df.drop_duplicates(inplace=True)
#Rename the columns to match sql
user_table_df.rename(columns={"review_profilename":"profile_name"},inplace=True)
#Assign the user ID
user_table_df["profile_id"]=numpy.arange(0, len(user_table_df))
#Verify the results
user_table_df.head()

     profile_name  profile_id
0         stcules           0
4  johnmichaelsen           1
5         oline73           2
6       Reidrover           3
7    alpinebryant           4

In [15]:
#--------------------------------------#
#            Brewery  table            #
#--------------------------------------#
brewery_table_df = pd.DataFrame(review_df[["brewery_id","brewery_name"]])
brewery_table_df.drop_duplicates(inplace=True)
brewery_table_df.head()

     brewery_id                brewery_name
0         10325             Vecchio Birraio
4          1075     Caldera Brewing Company
10          163      Amstel Brouwerij B. V.
393        1454       Broad Ripple Brew Pub
403         850  Moon River Brewing Company

In [16]:
#--------------------------------------#
#              Beer table              #
#--------------------------------------#
#Dictionary for mapping
name_style_translate = dict()
#Lis for new column
style_id_entry = list()
beer_table_df = pd.DataFrame(review_df[["beer_beerid","beer_name","brewery_id","beer_abv","beer_style"]])
beer_table_df.drop_duplicates(inplace=True)
beer_table_df.rename(columns={"beer_beerid":"beer_id"},inplace=True)
#beer_table_df.head()
#For performance reasons build a dictionary to map the name and the ID, and build a new column,
#This is faster than dataframe replace instruction
#Dictionary creation
for row in beer_styles_df[["beer_style","beer_style_id"]].iterrows():
   name_style_translate.update({row[1]["beer_style"]:row[1]["beer_style_id"]})
#build the column for the user id
for beer in beer_table_df["beer_style"]:
   style_id_entry.append(name_style_translate[beer])
beer_table_df["beer_style_id"]=style_id_entry
beer_table_df.head()

,beer_id,beer_name,brewery_id,beer_abv,beer_style,beer_style_id
0,47986,Sausa Weizen,10325,5.0,Hefeweizen,42
1,48213,Red Moon,10325,6.2,Strong Ale,13
2,48215,Black Horse Black Beer,10325,6.5,Stout,38
3,47969,Sausa Pils,10325,5.0,German Pilsener,66
4,64883,Cauldron DIPA,1075,7.7,Imperial IPA,27

In [17]:
#--------------------------------------#
#              Review table            #
#--------------------------------------#
beer_reviews_df = pd.DataFrame(review_df[["review_profilename",\
                                          "review_overall",\
                                          "review_aroma",\
                                          "review_appearance",\
                                          "review_palate",\
                                          "review_taste",\
                                          "beer_beerid"]])

In [18]:
#For performance reasons build a dictionary to map the name and the ID, and build a new column,
#This is faster than dataframe replace instruction

#Dictionary for mapping
name_translate = dict()
#Lis for new column
user_id_entry = list()

#Dictionary creation
for row in user_table_df.iterrows():
    name_translate.update({row[1]["profile_name"]:row[1]["profile_id"]})
    
#build the column for the user id
for beer in beer_reviews_df["review_profilename"]:
    user_id_entry.append(name_translate[beer])

In [19]:
time_column = list()

#Conver the time in the table, this takes some time be patient
for row in review_df[["review_time"]].iterrows():
    time_column.append(datetime.utcfromtimestamp(row[1]["review_time"]))

In [20]:
#Insert the missing colmuns
beer_reviews_df["review_id"]=numpy.arange(0, len(beer_reviews_df))
beer_reviews_df["user_profile_id"]=user_id_entry
beer_reviews_df["review_time"]=time_column

In [21]:
#Rename columns with diferent names and drop the data we don't need
beer_reviews_df.drop(["review_profilename"],axis=1,inplace=True)
beer_reviews_df.rename(columns={"beer_beerid":"beer_id"},inplace=True)
beer_reviews_df.head()

,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_id,review_id,user_profile_id,review_time
0,1.5,2.0,2.5,1.5,1.5,47986,0,0,2009-02-16 20:57:03
1,3.0,2.5,3.0,3.0,3.0,48213,1,0,2009-03-01 13:44:57
2,3.0,2.5,3.0,3.0,3.0,48215,2,0,2009-03-01 14:10:04
3,3.0,3.0,3.5,2.5,3.0,47969,3,0,2009-02-15 19:12:25
4,4.0,4.5,4.0,4.0,4.5,64883,4,1,2010-12-30 18:53:26

### Connect to local database

In [24]:
rds_connection_string = f"postgres:{pw}@localhost:5432/Beer_DB"
engine = create_engine(f'postgresql://{rds_connection_string}')

### Check for tables

In [25]:
engine.table_names()

['user_table', 'beer_reviews', 'beer_table', 'beer_styles', 'brewery_table']

### Use pandas to load csv converted DataFrame into database

In [49]:
user_table_df.to_sql(name= 'user_table' , con=engine, if_exists='append', index=False)

In [50]:
brewery_table_df.to_sql(name='brewery_table', con=engine, if_exists='append', index=False)

In [51]:
beer_styles_df.to_sql(name='beer_styles', con=engine, if_exists='append', index=False)

In [52]:
beer_table_df.to_sql(name='beer_table', con=engine, if_exists='append', index=False)

In [53]:
beer_reviews_df.to_sql(name='beer_reviews', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the user_table

In [54]:
# Testing queries

pd.read_sql_query('select * from user_table', con=engine).head()

     profile_name  profile_id
0         stcules           0
1  johnmichaelsen           1
2         oline73           2
3       Reidrover           3
4    alpinebryant           4

### Confirm data has been added by querying the Beer_Styles table

In [55]:
pd.read_sql_query('select * from brewery_table', con=engine).head()

   brewery_id                brewery_name
0       10325             Vecchio Birraio
1        1075     Caldera Brewing Company
2         163      Amstel Brouwerij B. V.
3        1454       Broad Ripple Brew Pub
4         850  Moon River Brewing Company

In [56]:
pd.read_sql_query('select * from beer_styles', con=engine).head()

,beer_style_id,name,beer_style,ibu_Min,ibu_Max,abv_Min,abv_Max,srm_Min,srm_Max,og_Min,fg_Min,fg_Max
0,0,Classic English-Style Pale Ale,English Pale,20.0,40.0,4.5,5.5,5.0,5.0,1.040,1.008,1.016
1,1,English-Style India Pale Ale,English IPA,35.0,63.0,5.0,7.0,6.0,14.0,1.050,1.012,1.018
2,2,Ordinary Bitter,Bitter,20.0,35.0,3.0,4.1,5.0,12.0,1.033,1.006,1.012
3,3,Special Bitter or Best Bitter,Special Bitter,28.0,40.0,4.1,4.8,6.0,14.0,1.038,1.006,1.012
4,4,Extra Special Bitter,ESB,30.0,45.0,4.8,5.8,8.0,14.0,1.046,1.010,1.016

In [57]:
pd.read_sql_query('select * from beer_table', con=engine).head()

,beer_style_id,beer_id,beer_name,brewery_id,beer_abv,beer_style
0,42,47986,Sausa Weizen,10325,5.0,Hefeweizen
1,13,48213,Red Moon,10325,6.2,Strong Ale
2,38,48215,Black Horse Black Beer,10325,6.5,Stout
3,66,47969,Sausa Pils,10325,5.0,German Pilsener
4,27,64883,Cauldron DIPA,1075,7.7,Imperial IPA

In [58]:
pd.read_sql_query('select * from beer_reviews', con=engine).head()

,review_id,review_time,user_profile_id,review_overall,review_aroma,review_appearance,review_palate,review_taste,beer_name,beer_id
0,0,20:57:03,0,1.5,2.0,2.5,1.5,1.5,None,47986
1,1,13:44:57,0,3.0,2.5,3.0,3.0,3.0,None,48213
2,2,14:10:04,0,3.0,2.5,3.0,3.0,3.0,None,48215
3,3,19:12:25,0,3.0,3.0,3.5,2.5,3.0,None,47969
4,4,18:53:26,1,4.0,4.5,4.0,4.0,4.5,None,64883